# Windows Systemdateien
Thumbs.db
desktop.ini

# Office Temporäre Dateien (z.B. Excel/Word Sperrdateien)
~
.~lock.*

# Ordner-Reste
.DS_Store

# administrative Scripte
create_ts_ws_users.sql
drop_ts_ws_users.sql
Insert_hb.sql